<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="work">
        <div class="container-fluid">
            <p style="margin: 15px 0 15px 50px;font-family:cursive;font-size: 26px;font-weight: bold;">Work & All Experience</p>
            
            <div class="row images">
              <!-- ตัวอย่างการใช้งานแบบวน loop โดยใช้ *ngFor -->
              <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4 p-2" *ngFor="let works of work">                   
                <div class="card p-1" style="width: 100%;">              
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img src="{{works.img}}" class="card-img-top" alt="...">
                        </div>
                        <div class="flip-card-back">
                        </div>
                      </div>
                    </div>              
                    <div class="card-body">
                      <h4 class="card-title mb-3" style="font-weight: bold;margin-bottom: 5px;">
                        {{works.topic}}
                      </h4>
                      <h5>{{works.sub_topic}}</h5>
                      <p class="text-secondary mb-2">
                         {{works.content}}
                      </p>
                      <a href="#" class="btn btn-primary btn-sm" target="_blank">
                        Read More ...
                      </a>
                    </div>
                </div>
            </div>  -->
            
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 p-2">                   
                    <div class="card p-1" style="width: 100%;">
                      <!-- Flip Image -->
                        <div class="flip-card">
                          <div class="flip-card-inner">
                            <div class="flip-card-front">
                              <img src="./assets/images/Grad Project.png" class="card-img-top" alt="...">
                            </div>
                            <div class="flip-card-back">
                              <!-- <h1>John Doe</h1>
                              <p>Architect & Engineer</p>
                              <p>We love that guy</p> -->
                            </div>
                          </div>
                        </div>
                        <!-- card-body -->
                        <div class="card-body">
                          <h4 class="card-title mb-3" style="font-weight: bold;margin-bottom: 5px;">
                            Basic E-commerce Website
                          </h4>
                          <h5>Graduation Project (4th.)</h5>
                          <p class="text-secondary mb-2">
                            เป็นโปรเจคจบปี 4 ที่เกี่ยวกับเว็บไซต์ e-commerce หรือร้านค้าออนไลน์ซึ่งเกี่ยวกับการขายเครื่องกรองน้ำและอุปกรณ์ต่างๆ ซึ่งสามารถใช้งานได้จริง 
                            และมีหลังบ่านที่สามารถเก็บข้อมูลและตรวจสอบประวัติคำสั่งซื้อของลูกค้า รวมถึงการแสดงยอดขายรายวัน เดือนและปี ในรูปแบบกราฟ .......
                          </p>
                          <a href="#" class="btn btn-primary btn-sm" target="_blank">
                            Read More ...
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 p-2">
                  <div class="card p-1" style="width: 100%;">
                    <!-- Flip Image -->
                      <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="./assets/images/Intern.png" class="card-img-top" alt="...">
                          </div>
                          <div class="flip-card-back">
                            <!-- <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p> -->
                          </div>
                        </div>
                      </div>
                      <!-- card-body -->
                      <div class="card-body">
                        <h4 class="card-title mb-3" style="font-weight: bold;margin-bottom: 5px;">
                          Web developer
                        </h4>
                        <h5>Intern (4th. University)</h5>
                        <p class="text-secondary mb-2">
                          ศึกษาการสร้างเว็บไซต์ e-commerce ด้วย Wordpress และ Plugin Woo-commerce รวมถึงการใช้ Plugin ของ Wordpress 
                          ในการสร้าง ตกแต่ง หรือแก้ไขในหน้าเพจต่างๆ และศึกษาเรื่องการสร้างและพัฒนา Line Chat bot ที่สามารถตอบโต้กะลูกค้าได้.....
                        </p>
                        <a href="#" class="btn btn-primary btn-sm" target="_blank">
                          Read More ...
                        </a>
                      </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 p-2">
                  <div class="card p-1" style="width: 100%;">
                    <!-- Flip Image -->
                      <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="./assets/images/GGM.png" class="card-img-top" alt="...">
                          </div>
                          <div class="flip-card-back">
                            <!-- <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p> -->
                          </div>
                        </div>
                      </div>
                      <!-- card-body -->
                      <div class="card-body">
                        <h4 class="card-title mb-3" style="font-weight: bold;margin-bottom: 5px;">
                          Web developer
                        </h4>
                        <h5>Intern (4th. University)</h5>
                        <p class="text-secondary mb-2">
                          ศึกษาและพัฒนาเกี่ยวกับการสร้าง Google Map โดยไม่ใช้ Google Map Api ซึ่งสามารถค้นหาข้อมูล และนำข้อมูลนั้นปักหมุดลงใน Google Map ได้ และแสดงข้อมูลนั้นออกมาเป็นรายการ เมื่อกดที่ข้อมูลนั้นสามารถเลื่อนไปยังสถานที่ที่ปักหมุดในแผนที่ได้..............
                        </p>
                        <a href="#" class="btn btn-primary btn-sm" target="_blank">Read More..</a>
                      </div>
                  </div>
                </div>
            </div>

            <div class="row images">

              <div class="col-12 col-sm-12 col-md-6 col-lg-4 p-2">
                <div class="card p-1" style="width: 100%;">
                  <!-- Flip Image -->
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img src="./assets/images/view2.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="flip-card-back">
                          <!-- <h1>John Doe</h1>
                          <p>Architect & Engineer</p>
                          <p>We love that guy</p> -->
                        </div>
                      </div>
                    </div>
                    <!-- card-body -->
                    <div class="card-body">
                      <h5 class="card-title">คอร์สออนไลน์</h5>
                      <a href="#" class="btn btn-primary btn-sm" target="_blank">Read More..</a>
                    </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-8 p-2">
                <!-- กรอบขาว -->
                <div class="card p-1" style="width: 100%;">
                  <div class="row">
                    <div class="col-lg-6">
                      <!-- Flip Image -->
                      <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="./assets/images/Intern.png" class="card-img-top" alt="...">
                          </div>
                          <div class="flip-card-back">

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <!-- Flip Image -->
                      <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="./assets/images/GGM.png" class="card-img-top" alt="...">
                          </div>
                          <div class="flip-card-back">

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- body -->
                    <div class="card-body">
                      <h4 class="card-title mb-3" style="font-weight: bold;margin-bottom: 5px;">
                        Web developer
                      </h4>
                      <h5>Intern (4th. University)</h5>
                      <p class="text-secondary mb-2">
                        <span style="color: red;">(รูปซ้าย)</span>
                        ศึกษาการสร้างเว็บไซต์ e-commerce ด้วย Wordpress และ Plugin Woo-commerce รวมถึงการใช้ Plugin อื่นๆ และ Template ของ Wordpress 
                        ในการสร้าง ตกแต่ง หรือแก้ไขในหน้าเพจต่างๆ และศึกษาและพัฒนาเรื่องการสร้าง Line Chat bot ที่สามารถตอบโต้กับลูกค้าได้โดยการส่งข้อความมาเป็ฯ flex message.................
                      </p>
                      <hr>
                      <p class="text-secondary mb-2">
                        <span style="color: red;">(รูปขวา)</span>
                        ศึกษาและพัฒนาเกี่ยวกับการสร้าง Google Map โดยไม่ใช้ Google Map Api ซึ่งสามารถค้นหาข้อมูล และนำข้อมูลนั้นปักหมุดลงใน Google Map ได้ และแสดงข้อมูลนั้นออกมาเป็นรายการ เมื่อกดที่ข้อมูลนั้นสามารถเลื่อนไปยังสถานที่ที่ปักหมุดในแผนที่ได้..............
                      </p>
                      <a href="#" class="btn btn-primary btn-sm" target="_blank">
                        Read More ...
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>

            <div class="row images">

              <div class="col-12 col-sm-12 col-md-6 col-lg-4 p-2">
                <div class="card p-1" style="width: 100%;">
                  <!-- Flip Image -->
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <img src="./assets/images/miku.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="flip-card-back">
                          <!-- <h1>John Doe</h1>
                          <p>Architect & Engineer</p>
                          <p>We love that guy</p> -->
                        </div>
                      </div>
                    </div>
                    <!-- card-body -->
                    <div class="card-body">
                      <h5 class="card-title">คอร์สออนไลน์</h5>
                      <a href="#" class="btn btn-primary btn-sm" target="_blank">Read More..</a>
                    </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-8 p-2">
                <!-- กรอบขาว -->
                <div class="card p-1" style="width: 100%;">
                  <div class="row">
                    <div class="col-lg-6">
                      <!-- Flip Image -->
                      <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="./assets/images/Intern.png" class="card-img-top" alt="...">
                          </div>
                          <div class="flip-card-back">

                          </div>
                        </div>
                      </div>
                      <!-- body -->
                      <div class="card-body">
                        <h4 class="card-title mb-3" style="font-weight: bold;margin-bottom: 5px;">
                          Web developer
                        </h4>
                        <h5>Intern (4th. University)</h5>
                        <p class="text-secondary mb-2">
                          <span style="color: red;">(รูปซ้าย)</span>
                          ศึกษาการสร้างเว็บไซต์ e-commerce ด้วย Wordpress และ Plugin Woo-commerce รวมถึงการใช้ Plugin อื่นๆ และ Template ของ Wordpress 
                          ในการสร้าง ตกแต่ง หรือแก้ไขในหน้าเพจต่างๆ และศึกษาและพัฒนาเรื่องการสร้าง Line Chat bot ที่สามารถตอบโต้กับลูกค้าได้โดยการส่งข้อความมาเป็ฯ flex message.................
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <!-- Flip Image -->
                      <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="./assets/images/GGM.png" class="card-img-top" alt="...">
                          </div>
                          <div class="flip-card-back">

                          </div>
                        </div>
                      </div>
                      <!-- body -->
                      <div class="card-body">
                        <h4 class="card-title mb-3" style="font-weight: bold;margin-bottom: 5px;">
                          Web developer
                        </h4>
                        <h5>Intern (4th. University)</h5>
                        <p class="text-secondary mb-2">
                          <span style="color: red;">(รูปขวา)</span>
                          ศึกษาและพัฒนาเกี่ยวกับการสร้าง Google Map โดยไม่ใช้ Google Map Api ซึ่งสามารถค้นหาข้อมูล และนำข้อมูลนั้นปักหมุดลงใน Google Map ได้ และแสดงข้อมูลนั้นออกมาเป็นรายการ เมื่อกดที่ข้อมูลนั้นสามารถเลื่อนไปยังสถานที่ที่ปักหมุดในแผนที่ได้..............
                        </p>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="btn btn-primary btn-sm mb-2" target="_blank">
                    Read More ...
                  </a>
                </div>
              </div>
              
            </div>

        </div>
    </div>
</body>
</html>