<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</head>
<body>
  
  <header class="text-white" [ngStyle]="{'background': 'url(' + backgroundUrl + ') no-repeat center center / cover'}">
      <div class="container">
        <h1><i class="fa fa-code code" aria-hidden="true" style="color: #4d4d4d;font-weight: bold;"></i> </h1>
        <div class="row">
              <div class="col-lg-12 head-text">
                <!-- <p>{{ name }}</p> -->
                <p>
                  Hi, 
                </p>
                <p>
                  I'm Nattasit,
                </p>
                <p>
                  I'm Web Developer.
                </p>
                <div class="fade-in">
                  <a routerLink="/product">
                    <span>
                      <i class="fa fa-address-card-o" aria-hidden="true" style="font-size: 20px;"></i> 
                      Contact-me!
                    </span>
                  </a>
                </div>
              </div>
        </div>
        <h1 style="margin-top: 8px; margin-bottom: 0;"><i class="fa fa-code code" aria-hidden="true" style="color: #4d4d4d;font-weight: bold;"></i>  </h1>
      </div>
  </header>

  <!-- Programming Skill -->
  <section class="icons text-center bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2">
          <div class="icons-item mx-auto mb-4 ">
            
            <div class="icons-icon">
              <i class="fab fa-html5" style="font-size: 40px;color: orangered;"></i>
            </div>

            <h3>Html5</h3>

            <p>Hypertext Markup Language.</p>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="icons-item mx-auto mb-4">
            
            <div class="icons-icon">
              <i class="fab fa-css3-alt" style="font-size: 40px; color: royalblue;"></i>
            </div>

            <h3>CSS3</h3>

            <p>Cascading Style Sheets.</p>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="icons-item mx-auto mb-4 ">
            
            <div class="icons-icon">
              <i class='fab fa-js-square' style="color: #e09306;font-size: 40px;"></i>
            </div>

            <h3>JavaScript</h3>

            <p>JavaScript.</p>
          </div>
        </div>
          
        <div class="col-lg-2">
          <div class="icons-item mx-auto mb-4 ">
            
            <div class="icons-icon">
              <i class="fab fa-php" style="color: rgb(31, 119, 235);font-size: 44px;"></i>
            </div>

            <h3>PHP</h3>

            <p>PHP Hypertext Preprocessor.</p>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="icons-item mx-auto mb-4 ">
            
            <div class="icons-icon">
              <p style="font-weight: bold;color: rgb(115, 94, 255);">
                <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-bootstrap-fill" viewBox="0 0 16 16">
                <path d="M6.375 7.125V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z"/>
                <path d="M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12V3.545h3.399c1.587 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.483 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396H5.062z"/>
              </svg>
            </p>
            </div>

            <h3>Bootstrap</h3>

            <p>UI framework Bootstrap.</p>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="icons-item mx-auto mb-4 ">
            
            <div class="icons-icon">
              <p style="font-weight: bold;color: rgb(90, 182, 205);"><i class="fab fa-wordpress" style="font-size: 38px;" aria-hidden="true"></i></p>
            </div>

            <h3>Wordpress</h3>

            <p>(CMS.) Contents Management System.</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="showcase">
    <div class="container-fluid">
      <div class="row g-0">
        <div class=" col-lg-6 order-lg-2 text-white show-img">
          <img src="./assets/images/2.jpg" alt="main-img">
        </div>
        <div class=" col-lg-6 order-lg-1 my-auto show-text" >
          <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            <i class="fa fa-university" aria-hidden="true"></i> Graduation Project (4th.)
          </h2>
          <p class="lead mb-0">
            Topic : Basic E-Commerce Website. <br> 
          </p>
            <ul>
              <li>
              Design and create Backend by Html CSS JavaScript and use UI framework by bootstrap to do responsive for desktop mobile and tablet display.<br>
              </li>
              <li>
              Design and create MySQL database ,connection database and query select insert update delete from database by PHP and SQL.<br>
              </li>
              <li>
              Design and create Backend system with showing name address order of customer, check order and payment, add edit or delete product, calculate and show chart with daily monthly annual and total sales.   
              </li>
              <li>
              Edit some function query MySQL database by PHP and edit some page by Html JavaScript on front-end webpage.
              </li>
            </ul>    
            <a routerLink="" class="btn btn-outline-primary" style="font-family: monospace;font-weight: bold;margin-top: 10px;">
              Visit Work <i class="fa fa-hand-o-right" aria-hidden="true" ></i>
            </a>
        </div>
      </div>

      <div class="row">
        <div class=" col-lg-6 text-white show-img">
          <img src="./assets/images/5.jpg" alt="main-img">
        </div>
        <div class=" col-lg-6 my-auto show-text">
          <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            <i class="fa fa-university" aria-hidden="true"></i> Intern
          </h2>
          <p class="lead mb-0">
            Company : TAC-M GROUP Co.,Ltd. <br>
            Position : Web Developer. <br> 
          </p>
            <ul>
              <li>
                Learn about building website e-commerce by WordPress 
                and Woo-commerce Plugin ,edit web page by WordPress plugin. <br>
              </li>
              <li>
                Learn and Design bout building google map and maps pin from
                searching store name ,provinces and district from database by
                JavaScript jQuery, Ajax, PHP, MySQL and build web page from
                UX/UI design by Html, CSS, JavaScript and do responsive by
                CSS and Bootstrap <br>
              </li>
              <li>
                Create Line Chat Bot by website line chat bot developer, teach
                bot for reply message by dialogflow and design flex message
                for bot reply message to user by line bot designer.
              </li>
              <a routerLink="" class="btn btn-outline-primary" style="font-family: monospace;font-weight: bold;margin-top: 10px;">
                Visit Work <i class="fa fa-hand-o-right" aria-hidden="true" ></i>
              </a>
            </ul>    
        </div>
      </div>
      
      <div class="row">
        <div class=" col-lg-6 order-lg-2 text-white show-img">
          <img src="./assets/images/6.jpg" alt="main-img">
        </div>
        <div class=" col-lg-6 order-lg-1  my-auto show-text">
          <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            <i class="fa fa-briefcase" aria-hidden="true"></i> First Job
          </h2>
          <p class="lead mb-0">
            Company : PTT Digital Solutions Company Limited <br>
            Position : Front-end Developer. <br> 
          </p>
            <ul>
              <li>

              </li>
              <li>

              </li>
              <li>

              </li>
            </ul> 
        </div>
      </div>

      <div class="row">
        <div class=" col-lg-6 text-white show-img">
          <img src="./assets/images/9.jpg" alt="main-img">
        </div>
        <div class=" col-lg-6 my-auto show-text">
          <h2>Full responsive Design</h2>
          <p class="lead mb-0">The PHP development team announces the immediate availability of PHP 8.0.6. 
            This release reverts a bug related to PDO_pgsql that was introduced in PHP 8.0.5.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="feedback text-center bg-light">
    <div class="container">
      <h2 class="mb-5" style="font-family:cursive;"> The secret of <font color="red">successful</font> in life is for a man to be ready for his opportunity when it comes.</h2>
      <div class="row">

        <div class="col-lg-4">
          <div class="feedback-item mx-auto mb-5 mb-lg-0">
            <img src="./assets/images/11.jpg" alt="feedback" class="img-fluid rounded-circle mb-3">
            <h5>Start Up.</h5>
            <p class="font-weight-light mb-0">Start where you are. Use what you have. <br> Do what you can.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="feedback-item mx-auto mb-5 mb-lg-0">
            <img src="./assets/images/7.jpg" alt="feedback" class="img-fluid rounded-circle mb-3">
            <h5>IDEAS.</h5>
            <p class="font-weight-light mb-0">Success usually comes to those who are too busy to be looking for it.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="feedback-item mx-auto mb-5 mb-lg-0">
            <img src="./assets/images/12.jpg" alt="feedback" class="img-fluid rounded-circle mb-3">
            <h5>Scale Up.</h5>
            <p class="font-weight-light mb-0">To be successful, the first thing to do is to fall in love with your work.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  
  <footer class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p class="text-foot">&copy; Developer 2021. All right to beginning.</p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>